@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font: 14px/24px Microsoft YaHei, Arial, Helvetica, sans-serif;}
body{color:#333333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:10px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #000; }
a:hover{color:#025c97;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
abbr[title]{border-bottom:1px dotted;cursor:help;}
legend{color:#000;}
fieldset, img { border:0;} 
a img{vertical-align:text-bottom;}
:focus {outline:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
button,input,select,textarea{font-size:100%;}
button,input,select{vertical-align:middle;}
button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
/*Common Style
--------------------------------*/
/*text align*/
.tc{ text-align:center;}
.tr{ text-align:right;}
.tj{ text-align:justify;}
/*float and clear*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{ clear:both;}
/*clear*/
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.w1200{width:1200px;}
.juzhong{margin:0 auto;}
.juzhong1{margin:40px auto;}
.juzhong2{margin:0 auto 40px auto;}
.juzhong3{margin:40px auto 0 auto;}
.juzhong4{ margin:60px auto 40px auto;}
.l20{line-height:20px;}
.l24{line-height:24px;}
.l30{line-height:30px;}
.l40{line-height:40px;}
.l42{line-height:42px;}
.l60{line-height:60px;}
.l80{line-height:80px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f24{font-size:24px;}
.f21{font-size:21px;}
.f22{font-size:22px;}
.f20{font-size:20px;}
.f30{font-size:30px;}
.arial{font-family:Arial, Helvetica, sans-serif;}
.nor{font-weight:normal;}
.mw{width:100%; min-width:1200px;}
.green{color:#079b6f;}
.blue{ color:#36546d;}
.green1{color:#045f67;}
.white{color:#fff;}
.yellow{color:#fff100;}
.brown{color: rgb(110, 25, 25);}
.red{color:#0284dc;}
.c666{color:#666;}
.c333{color:#333;}
.c74{color:#747474;}
.c8f{color:#8f8f8f;}
/* -------------------------------------------------------------------------------------------------- */

.background{
    margin: 0 auto;
}

    .background header{
    margin:0 auto;
    width: 100%;
    height: 70px;
    background-color:rgb(32, 32,32);
}
.head_bg{
    width: 1380px;
    height: 70px;
    margin: 0 auto;
}
.head_bg .firstblock{
    float: left;
    width:200px;
    height: 70px;
}
.head_bg #img1{
    float: left;
    margin: 10px 0;   
    
}
.head_bg #img2{
    float: left;
    margin:21px 30px 20px 30px;
}
.head_bg .second_block{

    display: block;
    float: left;
}




.second_block ul{
    list-style: none;
}
.second_block ul li{
    float: left;
    width: auto;
    padding: 0 14px;
    height: 70px;
}

.second_block ul li a{
    float: left;
    color: #aaa;
    text-align: center;
    text-decoration: none;
    font-size:18px;
    line-height: 70px;
    display: block;

}
.second_block ul li a:hover{
    color:#fff;
}
/* ````````````````````````````````````````````````````````````` */
#click1{
    width:80px;
}

/* ````````````````````````````````````````````````````````````` */

.second_block ul li ul li a{
    width: 140px;
    text-align: center;
    color: #000;
    line-height: 40px;
    font-size: 16px;
}
.second_block ul li ul li a:hover{
    background-color: cornflowerblue;
    color: #fff;
}
.second_block ul li ul{
    /* border:solid black 2px ; */
    position: relative;
    left: -52px;
    display: none;
    margin:70px 0 0 0;

}
.second_block ul li:hover ul{
    display: block;
    position: relative;
    z-index: 1;
}
.second_block ul li ul li{

    height: 40px;
    width: 140px;
    float: none;
    background-color: white;
}

/* `````````````````````````serch```````````````````````````` */
.serch{

    margin: 0 auto;
    display: inline;
}
.serch input[type=text] {
    width: 200px;
    float: left;
    padding:  8px 18px;
    border: none;
    margin: 16px 20px;
    font-size: 16px;
    border-radius: 99px;
    background-color: #333;
    color: white;
}
.serch:hover input{

    color: black;
    width: 240px;
    background-color: #fff;
}
.serch img{
    position: relative;
    left: -60px;
    top: 18px;

}
/* ````````````````````ke hu duan   ````````````````````` */
.user{
    float: right;
    height: 60px;
    display: block;
    width: 230px;
    margin: 8px 0;
}
.khdtb{
    display: inline;
    margin: 0 30px 0 0;
}
.khdtb:hover #khd{
    display: block;

}
.user a .head_user{
    margin:0 7px;
    
}
.user a{
    height: 62px;
    float: left;

}
.user a img{
    display: block;
    float: left;
}
.khdtb{
    width: 48px;
    height: 52px;
}
#khd{
    margin: 0 0 0 -260px;
    width: 420px;
    height: 264px;
    float: left;
    display: none;
    background-color: white;
    z-index: 2;
}

.khd1{
    width: 210px;
    height: 264px;
    float: left;
    position: relative;
    z-index: 1;
    background-color: white;
}
#khd_x1{
    border-right: #ccc 2px solid;
    height:184px;
    margin:40px 0 0px 0;
}
.khd1 img{
    margin: 0 45px 14px 45px ;
}
.khd1 #p1{
    font-size: 18px;
    text-align: center;
}
.khd1 #p2{
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}
.khd2{
    width: 210px;
    height: 264px;
    float: left;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.khd2 a{
    height: 206px;
}
.khd2 img{
    margin: 36px 27px 0 27px;

}
.khd2 p{
    font-size: 14px;
    text-align: center;
}
.gkjltb{
    width: 52px;
    height: 52px;
    display: inline;
    margin: 0 10px 0 0;
}
.gkjl{
    margin:0px 0 0 -180px;
    width: auto;
    height: auto;
    float: left;
    display: none;
    position: relative;
    z-index: 1;
}
.gkjl img{
    float: none;
}
.gkjltb:hover .gkjl{
    display: block;

}
.dltb{
    margin: 0 0 0 20px;
}

/* `````````````````````````main```````````````````````````````````` */
.main_background{
    width: 100%;
}

.roll_screen{
    width: 1380px;
    height: 462px;
    margin: 30px auto;
    margin-bottom: 0;
    background-color: #aaa;
    position: relative;
}
.roll_screen ul{
    position: absolute;
    bottom: 0px;
}
.roll_img{
    height:396px;
}
.roll_screen ul li{
    width: 196px;
    height: 66px;
    background-color: #222;
    border-right: #ccc 1px solid;
    float: left;
    
}
#rool_last_li{
    border-right: solid #333 2px;
}
.roll_screen ul li a{
    width: 196px;
    height: 56px;
    margin-top: 10px;
}
.roll_screen ul li a p{
    color: white;
    text-align: center;

}
.roll_screen ul li a .p1{
    margin-top: 10px;
}

/* ``````````````````img```````````````````````````` */
.roll_screen  img{
    display: none;
    position: absolute;
    top: -396px;

}
.roll_screen  #roll_img1{
    display: block;
}

.roll_screen ul li:hover{
    background-color: #666;
}



.roll_screen ul #roll_li2:hover #roll_img1{
    display: none;
}
.roll_screen ul #roll_li2:hover #roll_img2{
    display: block;
    left: 0;
}


.roll_screen ul #roll_li3:hover #roll_img3{
    display: block;
    left: 0;
}
.roll_screen ul #roll_li4:hover #roll_img4{
    display: block;
    left: 0;
}
.roll_screen ul #roll_li5:hover #roll_img5{
    display: block;
    left: 0;
}
.roll_screen ul #roll_li6:hover #roll_img6{
    display: block;
    left: 0;
}
.roll_screen ul #rool_last_li:hover #roll_img7{
    display: block;
    left: 0;
}


/* ```````````````````block  3  ```````````````````````````` */
.news{
    width: 1380px;
    height: 670px;
    margin: 0 auto;
}

.news .news_box1{
    width: 430px;
    height: 520px;
    background-color: #fff;
    float: left;
    padding: 15px;
}
.news .news_box1 .news_title{
    width: 430px;
    height: 55px;
    border-bottom: 2px solid #ccc;
}
.news .news_box1 .news_title .news_title_text{
    width:50px ;
    height: 55px;
    border-bottom: 2px solid #000;
}
.news .news_box1 .news_title .news_title_text p{
    font-size: 25px;
    line-height: 50px;
}

.news .news_box1 .jiaodian {
    width: 460px;
    height: 48px;
    margin: 0 ;
    border-bottom: #ccc solid 1px;
    float: left;
}

.news .news_box1 .jiaodian .jiaodian1{
    margin: 20px 10px 0 10px;
    padding:0 10px 0 10px;
    border-right: 1px solid #ccc;

}
.news .news_box1 .jiaodian .jiaodian2{
    padding: 8px 10px 0px 6px;
}
#news_box2 li{
    list-style-type: square;
}

.news .news_box1 .news_box2_list{
    margin-left: 28px;
}
.news .news_box1 .news_box3{
    margin:18px 0;
    height: 130px;
    border-bottom: 1px solid #ddd;
}
.news .news_box1 .news_box3 img{
    margin-right: 10px;
}

/* `````````````````````button````````````````````````````````````````` */
.news .news_more{
    width: 1380px;
    height: 120px;
    background-color: #fff;
    float: left;
}
.news .news_more .news_more_botton{
    margin: 48px 595px;
}
.news .news_more .button{
    background-color: #fff;
    border: 1px black solid;
    color: #000;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99px;
}
.news .news_more .button:hover{
    background-color: cornflowerblue;
    color: white;
    border-color:cornflowerblue ;
}


/* ````````````````` ping lun``````````````````````````````*/

.criticism{
    width: 1408px;
    height: 660px;
    margin: 0 auto;
    background-color: #eee;
}
.criticism .cri_title{
    margin: 0 630px;
}

.criticism .news_more_botton{
    margin: 40px 595px;
    float: left;
}
.criticism .button{
    background-color: #fff;
    border: 1px black solid;
    color: #000;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99px;
}
.criticism .button:hover{
    background-color: cornflowerblue;
    color: white;
    border-color:cornflowerblue ;
}

.criticism .cri_box1{
    width: 509px;
    height: 470px;
    margin: 0 15px 0 0;
    float: left;
    background-color: #fff;
}

.criticism .cri_box1 .cri_box1_yingping{
    margin: 20px 20px 0 20px;
}
.criticism .cri_box1 .cri_box1_yingping .yingping{
    background-color: #fff;
    border: 1px rgb(158, 2, 2) solid;
    color: rgb(161, 1, 1);
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 99px;
    margin-right: 20px;
}
.criticism .cri_box1 .cri_box1_yingping .yingping:hover{
    background-color: rgb(151, 3, 3);
    color: white;
    border-color:rgb(153, 4, 4) ;
}

.criticism .cri_box2 .news_box3{
    margin:10px 12px 26px 12px;
    height: 130px;
}
.criticism .cri_box2 .news_box3 img{
    margin-right: 10px;
}

.criticism .cri_box2{
    width: 540px;
    height: 470px;
    margin: 0 15px;
    float: left;
    background-color: #fff;
}

.criticism .cri_box3{
    width: 299px;
    height: 470px;
    margin: 0  0 0 15px;
    float: left;
    background-color: #fff;
}




/* ······························· 新片动态···························· */
.new_film{
    width: 1510px;
    height: 660px;
    margin: 0 auto;
    background-color: #fff;
}

.new_film .cri_title{
    margin: 20px 680px;
}

.new_film .main{
    height:470px ;
    width: 1510px;
    background-color: #fff;
}
.new_film .main .box1{
    width: 1074px;
    height: 470px;
    float: left;
}
.new_film .main .box1 .new_film1{
    height: 235px;
    float: left;
    margin: 0 10px 0 0;
}
.new_film .main .box1 .new_film1 .text{
    text-align:center;
}
.new_film .main .box2 .news_box2_list{
    margin-left: 30px;
    width: 385px;
    float: left;
    border-bottom: 1px #aaa solid;
}
.new_film .main .box2 .news_box2_list ul{
    list-style: square;
}


.new_film .news_more_botton{
    margin: 40px 650px;
    float: left;
}
.new_film .button{
    background-color: #fff;
    border: 1px black solid;
    color: #000;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99px;
}
.new_film .button:hover{
    background-color: cornflowerblue;
    color: white;
    border-color:cornflowerblue ;
}
/* ·······················hot··································· */
.hot{
    width: 1510px;
    height: 660px;
    margin: 0 auto;
    background-color: #eee;
}

.hot .cri_title{
    margin: 20px 680px;
}

.hot  .news_more_botton{
    margin: 40px 560px;
    float: left;
}
.hot .button{
    background-color: #fff;
    border: 1px black solid;
    color: #000;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99px;
}
.hot  .button:hover{
    background-color: cornflowerblue;
    color: white;
    border-color:cornflowerblue ;
}
.hot .main .hot_film{
    width: 200px;
    height: 350px;
    margin-right: 15px;
    float: left;
}
.hot .main .hot_film .text{
    text-align:center;
    margin:15px;
}
.hot .linklist{
    display: block;
    margin:20px 30px;
}
/* ``````````````````````````footer````````````````````````````` */
footer{
    width: 100%;
    height: 270px;
    background-color: #112;
}
footer .foot1{
    height: 200px;
    width: 1510px;
    margin:0 auto;
}
footer .foot1 .main{
    margin: 0 auto;
}
footer .foot1 .main .linklist{
    margin-right: 30px;

}
footer .copyright{
    height: 70px;
    width: 100%;
    background-color: #223;
}
footer .copyright .main{
    margin: 0 auto;
    width: 1510px;
    height: 70px;
}

footer .copyright .main .linklist{
    margin-right: 20px;
}